.exec-board {
    vertical-align: top;
    display: inline-block;
}

.grid {
    padding: 1rem 1rem;
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        "exec-heading exec-heading"
        "vp-image vp-desc"
        "tr-image tr-desc"
        "pr1-image pr1-desc"
        "pr2-image pr2-desc";
}

.exec-heading {
    grid-area: exec-heading;
    background: #a5d6a7;
    text-align: center;
    padding: 1rem;
}

.grid .vp-image {
    grid-area: vp-image;
    margin: 0;
    width: 300px;
    height: 300px;
    background: url(../../img/about/BlakeSimmons.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .vp-desc {
    grid-area: vp-desc;
    background: #a5d6a7;
    padding: 1rem;
}

.grid .tr-image {
    grid-area: tr-image;
    margin: 0;
    width: 300px;
    height: 300px;
    background: url(../../img/about/JacksonWiesbrot.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .tr-desc {
    grid-area: tr-desc;
    background: #a5d6a7;
    padding: 1rem;
}

.grid .pr1-image {
    grid-area: pr1-image;
    margin: 0;
    width: 300px;
    height: 300px;
    background: url(../../img/about/MomboNgu.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .pr1-desc {
    grid-area: pr1-desc;
    background: #a5d6a7;
    padding: 1rem;
}

.grid .pr2-image {
    grid-area: pr2-image;
    margin: 0;
    width: 300px;
    height: 300px;
    background: url(../../img/about/Dhruv.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .pr2-desc {
    grid-area: pr2-desc;
    background: #a5d6a7;
    padding: 1rem;
}

@media (max-width: 800px) {
    .grid {
        grid-template-areas:
        "exec-heading"
        "vp-image"
        "vp-desc"
        "tr-image"
        "tr-desc"
        "pr1-image"
        "pr1-desc"
        "pr2-image"
        "pr2-desc";
    }

    .grid .vp-image {
        margin: auto;
    }
    .grid .tr-image {
        margin: auto;
    }
    .grid .pr1-image {
        margin: auto;
    }
    .grid .pr2-image {
        margin: auto;
    }
}