.memberList {
    padding: 1rem;
    margin: auto;
    color: black;
    width: 100%;
    overflow-x: scroll;
}

.dataTables_wrapper {
    display: inline;
    left: 4rem;
}

.pagination .page-item.disabled .page-link {
    color: black;
}

input[type="text"]:not(.browser-default) {
    background-color: transparent;
}

input::placeholder {
    color: black;
}

label {
    color: black;
}

table th {
    font-weight: 800;
}

.dataTables_length {
    display: none;
}

table td {
    align-items: center;
}

.contentFunctions {
    width: 100%;
}

.post-editor .demo-editor{
    background-color: white;
}

.container {
    height: fit-content;
}

#container {
    min-height: 400px !important;
    padding: 0;
}