.header-image img {
    content:url(../../img/headers/golfbag.jpg);
    width: 100%!important;
    display: block!important;
}

.header-wrap {
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0;
    padding: 0 !important;
}

aside {
    padding: 15px;
}

.home-content {
    align-items: stretch;
    display: flex !important;
}

.home-box {
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.home-box h2 {
    margin-bottom: 0.75rem;
    margin-top: 0;
    border-bottom: 3px solid rgb(241, 93, 41);
    font-size: 2rem;
    color: rgb(33, 67, 141);
}

.home-about {
    background-color: #fff;
    padding: 15px;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.home-events {
    background-color: #fff;
    padding: 15px;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.event:first-of-type {
    border: none;
    padding-top: 0;
    margin-top: 0;
}

.event {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    border-top: 1px solid #e3e3e3;
}

.event h3 {
    font-size: 1.125rem;
    font-weight: bold;
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: .5rem;
}

.event-date {
    font-size: 1rem;
    font-style: italic;
}

.btn {
    color: white !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    padding: .25rem .5rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
    text-align: center;
    vertical-align: middle;
    height: fit-content;
}

.header-text-landing {
    bottom: 400px;
}

@media (max-width: 1300px){
    .header-text-landing {
        bottom: 200px;
    }
}

@media (min-width: 768px) {
    .home-announcement {
        display: none;
    }

    .header-wrap {
        padding-top: 0;
        margin-bottom: 30px;
    }

    .header-announcement-wrap {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .header-announcement {
        padding: 30px;
        margin-bottom: 30px;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.8)
    }

    .header-announcement>h3 {
        margin-top: 0 !important;
    }

    .lg-calendar {
        display: initial;
    }
    .sm-calendar {
        display: none;
    }

    div.caption {
        max-width: max-content;
        left: 0 !important;
        width: max-content;
        text-align: left;
        float: right;
        text-shadow: tomato;
        background-color: rgba(129, 199, 132, 0.713);
        background-size: contain;
        color:white !important;
    }
    
}

@media (max-width: 767px) {
    .header-text {
        display:none;
    }

    .home-announcement {
        display: block !important;
        width: 100vw;
    }

    .home-announcement .col {
        width: 100vw;
    }

    .header-announcement {
        display: none;
    }

    .lg-calendar {
      display: none;
    }

    .sm-calendar {
      display: initial;
    }

    table td {
        font-size: 12px !important;
    }
    .caption {
        text-align: center !important;
        top: 10% !important;
        left: 10% !important; 
        width: 80% !important;
        margin: auto;
        background-color: rgba(129, 199, 132, 0.6);
        background-size: contain;
        color:white !important;
    }
  }