.calendar {
    border: solid 3px rgba(0, 38, 255, 0.438);
    width: 100%;
    height: 600px;
}

.welcome {
    max-width: 700px;
    margin: 1rem;
}

.cap{
    max-width: 700px;
    margin:  1rem;
}

h3 {
    margin-right: 1rem;
    margin-left: 1rem;
}

p {
    margin-right: 1rem;
    margin-left: 1rem;
}

h4 {
    margin-right: 1rem;
    margin-left: 1rem;
}

h5 {
    margin-right: 1rem ;
    margin-left: 1rem ;
}


.slider .slides li {
    display: inline-block;
    text-align: center;
    list-style: none;
}

.slider .slides ul {
    text-align: center;
}

.slider .slides li img {
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

#SliderText {
    text-shadow:rgba(0, 38, 255, 0.438);
}

table td {
    font-size: 16px !important;
}

@media (min-width: 1024px) {
    .lg-calendar {
        display: initial;
    }
    .sm-calendar {
        display: none;
    }

    div.caption {
        max-width: max-content;
        left: 0 !important;
        width: max-content;
        text-align: left;
        float: right;
        text-shadow: tomato;
        background-color: rgba(129, 199, 132, 0.713);
        background-size: contain;
        color:white !important;
    }
    
}

@media (max-width: 1023px) {
    .lg-calendar {
        display: initial;
    }
    .sm-calendar {
        display: none;
    }

    table td {
        font-size: 14px !important;
    }

    
}

@media (max-width: 560px) {
    .lg-calendar {
      display: none;
    }

    .sm-calendar {
      display: initial;
    }

    table td {
        font-size: 12px !important;
    }
    .caption {
        text-align: center !important;
        top: 10% !important;
        left: 10% !important; 
        width: 80% !important;
        margin: auto;
        background-color: rgba(129, 199, 132, 0.6);
        background-size: contain;
        color:white !important;
    }
  }