.sidenav {
    display: none;
    width: 300px;
}

#sidenav {
    display: none;
}

nav .sidenav-trigger {
    margin: 11.25px;
}

.dropdown-content {
    width: max-content !important;
    height: auto !important;
}

.dropdown-trigger{
    height: 64px;
    top: 50%;
    color: white;
    margin: auto;
    padding-right: 1rem;
}

.dropdown-trigger:hover {
    background-color: orange;
    color: white;
}

.navbar-wrap {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top: 4px solid rgb(241, 93, 41);
    border-bottom: 4px solid rgb(33, 67, 141);
    padding: .5rem 1rem;
    box-shadow: none !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand img {
    content: url("../../img/logo.png");
    max-height: 44px;
    display: block;
}

.navbar-collapse {
    display: inline-block;
    text-align: left;
    align-items: center;
    padding-top: 5px;
    flex-basis: auto;
    flex-grow: 1;
}

#nav-mobile {
    display: flex;
    flex-direction: row;
    float: right;
}

.nav-item {
    padding: 0 .75rem;
    display: inline-flex;
    color: rgb(33, 67, 141);
    background: transparent;
    font-size: 15px !important;
    font-weight: 400 !important;
    text-transform: uppercase;
}

a {
    color: rgb(33, 67, 141);
    background: transparent;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
    background: unset !important;
}

.profile-trigger {
    text-align: center;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .5rem;
    margin: auto .5rem;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

@media (max-width: 1023px) {
    #nav-mobile {
        margin: auto;
    }

    .sidenav {
        display: inline-block;
    }

    nav .sidenav-trigger {
        display: inline-block;
        margin-left: 11.25px;
        color:rgb(33, 67, 141)
    }

    .sidenav-overlay {
        z-index: 1;
    }

    #sidenav {
        display: inline-block;
        position: fixed;
    }
}

@media (max-width: 600px) {
    #sidenav {
        display: inline-block;
        position: fixed;
    }

    .sidenav {
        width: 60vw;
    }

    nav .sidenav-trigger {
        margin-left: 11.25px;
    }

    .sidenav-overlay {
        z-index: 1;
    }

    nav .brand-logo {
        font-size: 1.5rem;
        height: 52px;
    }
}