.sidenav {
    display: none;
    width: 300px;
}

#sidenav {
    display: none;
}

.dropdown-trigger {
    margin: auto;
    padding-right: 1rem;
}

nav .sidenav-trigger {
    margin: 11.25px;
}

.dropdown-content {
    width: max-content !important;
    height: auto !important;
}

#pass{
    text-decoration: none;
    position: relative;
    transition: all 0.6s;
    color:white;
}

#pass:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    transition: all 0.5s;
}

a:hover #pass:before {
    width: 100%;
    left: 0;
    background: white;
}

#pass3{
    text-decoration: none;
    position: relative;
    transition: all 0.6s;
    color:white;
}

#pass3:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    transition: all 0.5s;
}

button:hover #pass3:before {
    width: 100%;
    left: 0;
    background: white;
}

#pass2{
    text-decoration: none;
    position: relative;
    transition: all 0.6s;
    color:black
}
 
#pass2:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    transition: all 0.3s;
}

a:hover #pass2:before {
    width: 100%;
    left: 0;
    background: black;
}

#pass4{
    text-decoration: none;
    position: relative;
    transition: all 0.6s;
    color:blue
}
 
#pass4:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: blue;
    transition: all 0.3s;
}

a:hover #pass4:before {
    width: 100%;
    left: 0;
    background: blue;
}

.navbarhover:hover{
    background-color: orange;
}

.nudge{
    margin-bottom: 1.2vh;
}

.dropdown-trigger{
    height: 64px;
    top: 50%;
    color: white;
}

.dropdown-trigger:hover {
    background-color: orange;
    color: white;
}

@media (max-width: 1023px) {
    #nav-mobile {
        margin: auto;
    }

    .sidenav {
        display: inline-block;
    }

    nav .sidenav-trigger {
        margin: auto;
        margin-left: 11.25px;
    }

    .sidenav-overlay {
        z-index: 1;
    }

    #sidenav {
        display: inline-block;
        position: fixed;
    }
}

@media (max-width: 425px) {
    #sidenav {
        display: inline-block;
        position: fixed;
    }

    .sidenav {
        width: 60vw;
    }

    nav .sidenav-trigger {
        margin: auto;
        margin-left: 11.25px;
    }

    .sidenav-overlay {
        z-index: 1;
    }

    nav .brand-logo {
        font-size: 1.3rem;
    }
}

#navbarhover:hover{
    background-color: orange;
}

.join{
    color:white
}

.log{
    color:black
}

#location{
    top: "100px"
}

