.officer-header-image img {
    content:url(../../img/headers/bg.jpg);
    width: 100%!important;
    display: inline-block!important;
    max-height: 500px;
    height: auto;
    display: none;
    object-fit: cover;
}

h2 {
    width: max-content;
}

.aside {
    padding: 30px !important;
}

.exec-board {
    vertical-align: top;
    display: inline-block;
}

.grid {
    padding: 1rem 1rem;
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        "p-image p-desc"
        "vp-image vp-desc"
        "tr-image tr-desc"
        "pr1-image pr1-desc"
        "pr2-image pr2-desc";
}

.grid .vp-image {
    grid-area: vp-image;
    margin: 0;
    width: 200px;
    height: 200px;
    background: url(../../img/about/BlakeSimmons.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .vp-desc {
    grid-area: vp-desc;
    background: #f3f3f3;
    padding: 1rem;
    background-color: #fff;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.grid .tr-image {
    grid-area: tr-image;
    margin: 0;
    width: 200px;
    height: 200px;
    background: url(../../img/about/JacksonWiesbrot.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .tr-desc {
    grid-area: tr-desc;
    background: #f3f3f3;
    padding: 1rem;
    background-color: #fff;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.grid .pr1-image {
    grid-area: pr1-image;
    margin: 0;
    width: 200px;
    height: 200px;
    background: url(../../img/about/MomboNgu.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .pr1-desc {
    grid-area: pr1-desc;
    background: #f3f3f3;
    padding: 1rem;
    background-color: #fff;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.grid .pr2-image {
    grid-area: pr2-image;
    margin: 0;
    width: 200px;
    height: 200px;
    background: url(../../img/about/Dhruv.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .pr2-desc {
    grid-area: pr2-desc;
    background: #f3f3f3;
    padding: 1rem;
    background-color: #fff;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.grid .p-image {
    grid-area: p-image;
    margin: 0;
    width: 200px;
    height: 200px;
    background: url(../../img/about/Dhruv.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(0, 255, 128);
    margin-left: 1rem;
    align-self: center;
}

.grid .p-desc {
    grid-area: p-desc;
    background: #f3f3f3;
    padding: 1rem;
    background-color: #fff;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 800px) {
    .grid {
        grid-template-areas:
        "exec-heading"
        "p-image"
        "p-desc"
        "vp-image"
        "vp-desc"
        "tr-image"
        "tr-desc"
        "pr1-image"
        "pr1-desc"
        "pr2-image"
        "pr2-desc";
    }
    .grid .p-image {
        margin: auto;
    }
    .grid .vp-image {
        margin: auto;
    }
    .grid .tr-image {
        margin: auto;
    }
    .grid .pr1-image {
        margin: auto;
    }
    .grid .pr2-image {
        margin: auto;
    }

    h2 {
        width: 100%;
    }
}