.sidenav {
    display: none;
    width: 300px;
}

#sidenav {
    display: none;
}

.dropdown-trigger {
    margin: auto;
    padding-right: 1rem;
}

nav .sidenav-trigger {
    margin: 11.250px;
}

.dropdown-content {
    width: max-content !important;
    height: auto !important;
}

@media (max-width: 1023px){
    #nav-mobile {
        position: relative;
    }

    .sidenav {
        display: inline-block;
    }

    nav .sidenav-trigger{
        margin:auto;
        margin-left: 11.250px;
    }

    .sidenav-overlay {
        z-index: 1;
    }

    #sidenav {
        display: inline-block;
        position: fixed;
    }
}

@media (max-width: 425px){
    #sidenav {
        display: inline-block;
        position: fixed;
    }

    .sidenav {
        position: relative;
        width: 60vw;
    }

    nav .sidenav-trigger{
        margin:auto;
        margin-left: 11.250px;
    }

    .sidenav-overlay{
        z-index: 1;
    }

    nav .brand-logo {
        font-size: 1.3rem;
    }
    
}

.Hover-Color:hover{
    color: black;
    background-color: white;
}

.login{
    position: relative;
    top: -10px;
}

.register{
    position: relative;
    top: -10px;
}

#push{
    margin-top: 8px
}

