/*==< Global >==*/
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow:auto;
    background: url(./img/bg_v1.01.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: absolute;
    background-blend-mode: darken;
    background-color: rgba(102, 187, 106, 0.5);
}

body:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#container {
    height: 100%;
    background-color: rgba(238, 238, 238, 0);
    margin-top: 2vh;
    position: relative;
    justify-content: center;
}

#content {
    height: 75vh;
    padding: 0;
    width: auto; 
    background-color: rgba(238, 238, 238, 0);
    margin-top: 3vh;
    position: relative;
}

#SliderImage
{
    width: 100%;
    margin: auto;
}
#SliderText
{
    text-shadow:rgb(253, 4, 4);
}

#box {
    margin: 8px;
    padding: auto;
    background-color: rgba(209, 212, 255, 0.95);
    position: relative; 
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.calendar {
    border: solid 1px #777;
    width: 100%;
    height: 600px;
}

.sidenav {
    display: none;
    width: 300px;
}

#sidenav {
    display: none;
}

.dropdown-trigger {
    margin: auto;
    padding-right: 1rem;
}

nav .sidenav-trigger {
    margin: 11.250px;
}

.dropdown-content {
    width: max-content !important;
    height: auto !important;
}

.lg-calendar{display:initial;}
.sm-calendar{display:none;}

.memberList {
    padding: 1rem;
    margin: auto;
    width: 100%;
    border: solid 1px black;
    color: black;
}

label{
    color: black;
}

.dataTables_wrapper {
    display: inline;
    left: 4rem;
}

.pagination .page-item.disabled .page-link {color:black;}

table th {font-weight: 800;}

/*==< Tablets/Small Screens >==*/
/* 426px - 1023px Wide */
@media (max-width: 1023px){
    .lg-calendar {display:initial;}
    .sm-calendar {display:none;}

    #nav-mobile {
        margin: auto;
    }

    .sidenav {
        display: inline-block;
    }

    nav .sidenav-trigger{
        margin:auto;
        margin-left: 11.250px;
    }

    .sidenav-overlay {
        z-index: 1;
    }

    #sidenav {
        display: inline-block;
        position: fixed;
    }
}

@media (max-width: 560px){
    .lg-calendar {display: none;}
    .sm-calendar {display: initial;}
}

/*==< Mobile Devices >==*/
/* <425px Wide */
@media (max-width: 425px){
    #sidenav {
        display: inline-block;
        position: fixed;
    }

    .sidenav {
        width: 60vw;
    }

    nav .sidenav-trigger{
        margin:auto;
        margin-left: 11.250px;
    }

    .sidenav-overlay{
        z-index: 1;
    }

    nav .brand-logo {
        font-size: 1.3rem;
    }
}




